@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import'./variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fundo da página */
body {
    background: linear-gradient(135deg, #fef6ff, #f3f6f9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Login-container {
    display: flex;
    background: var(--branco);
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 900px;
    max-width: 95%;
}

.login_usuario_info{
    background: linear-gradient(160deg, var(--roxo-escuro), var(--roxoclaro));
    color: var(--branco);
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login_usuario_info h2{
     font-size: 28px;
    margin: 20px 0 10px;
}
.login_usuario_info span {
  color: var(--verdeClaro);
}
.login_usuario_info p  {
 font-size: 16px;
    line-height: 1.6;
    max-width: 300px;
}

.img-info{
    width: 300px;
    height: auto;

}
.Login-form{
     flex: 1;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login-form h2{
    color: var(--roxo-escuro);
    margin-bottom: 25px;
    text-align: center;
}


label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--cinzaEscuro);
}

input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid var(--cinza);
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: var(--roxo-escuro);
}

button {
    background-color: var(--roxoclaro);
    color: var(--branco);
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    font-weight: 600;
}

button:hover {
    background-color: var(--roxo-escuro);
}




@media (max-width: 768px) {
    .Login-container {
        flex-direction: column;
        box-shadow: none;
    }

    .login_usuario_info {
        padding: 40px 20px;
        display: none;
    }

    .Login-form {
        padding: 40px 20px;
    }

    button {
        padding: 12px;
    }
}