
:root{
--roxo-escuro: #300a33;
--roxoclaro:#890AA3;
--verdeClaro:#7af21b;
--verdeEscuro:#10a417;
--branco: #fff;/*f3f6f9*/
--MeioTrnsparent: #890aa327;/*f3f6f9*/
--cinza:#c6c6c6;
--cinzaEscuro:#333;
--cinzaEscuroTransparent:#33333327;
--preto: rgb(25, 25, 25);
--pretoTransparen:rgba(0, 0, 0, 0.247);
--laranja:orange;
--laranjaEscuro:rgb(170, 117, 18);
--font: 'Fredoka', sans-serif;

--btnDelete:red;
--btnDeleteHover:rgb(184, 6, 6);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
}