
:root{
--roxo-escuro: #300a33;
--verdeClaro:#7af21b;
--verdeEscuro:#10a417;
--cinza:#c6c6c6;
--preto: rgb(25, 25, 25);
--branco: #f3f6f9;
--font: 'Poppins', sans-serif;
--roxoclaro:#890AA3;
--laranja:orange;
--laranjaEscuro:rgb(170, 117, 18);
}