
:root{
--roxo-escuro: #300a33;
--roxoclaro:#890AA3;
--verdeClaro:#7af21b;
--verdeEscuro:#10a417;
--branco: #fff;/*f3f6f9*/
--cinzaMedio:#a465b1;
--MeioTrnsparent: #890aa327;/*f3f6f9*/
--cinza:#c6c6c6;
--cinzaEscuro:#333;
--cinzaEscuroTransparent:#33333327;
--preto: rgb(25, 25, 25);
--pretoTransparen:rgba(0, 0, 0, 0.247);
--laranja:orange;
--laranjaEscuro:rgb(170, 117, 18);
--vermelho:#FF3B30;
--vermelhoEscuro:rgb(194, 57, 57);
--font: 'Fredoka', sans-serif;

--btnDelete:red;
--btnDeleteHover:rgb(184, 6, 6);
}