@import 'pages/home';
@import 'pages/cadastro';
@import 'pages/login';

$roxo-escuro: #56125b;
$verdeClaro:#7af21b;
$verdeEscuro:#10a417;
$cinza:#ddd6d6;
$preto: rgb(25, 25, 25);
$branco: #f3f6f9;
$font: 'Poppins', sans-serif;


// Reset global
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body
body {
  height: auto;
  width: 100%;
  font-family: $font;
  background: $branco;
}

// Animação JS
// .js-global {
//   opacity: 0;
//   transition: 0.5s;
//   transform: translateX(-10rem);

//   &.active {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }

// Responsivo
@media (max-width: 1000px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
