@import '../variables.css';
/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/*Padronizado*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

button {
    cursor: pointer;
    border: none;
    background-color: none;
}

img {
    width: 100%;
}

.header {
    background-color: var(--branco);
    position: fixed;
    top: 0;
    z-index: 30;
    width: 100%;
    border-bottom: 1px solid var(--cinza);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

/* ===== EFEITO SCROLLED ===== */
#header.scrolled {
    background: linear-gradient(135deg,
            var(--roxo-escuro) 70%,
            var(--roxoclaro) 100%);
    border-bottom: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#header.scrolled .navbar .nav-item.dropdown .dropdown-menu {
    background: var(--roxo-escuro);
}

#header.scrolled .navbar .nav-item.dropdown .dropdown-menu li a:hover {
    color: var(--laranja);
}

#header.scrolled .navbar .nav-menu .primary {
    color: var(--laranja);
}

#header.scrolled .navbar .nav-menu li a {
    color: var(--branco);
}

#header.scrolled .navbar .nav-menu li a:hover {
    color: var(--laranja);
}

/* Header base */
.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-logo {
    width: 80px;
    padding: 10px 0;
}

.painel-texto {
    font-size: 24px;
    font-weight: 400;
    color: var(--verdeClaro);
}

.navbar .nav-menu {
    display: flex;
    gap: 20px;
    margin: 0;
    align-items: center;
}

.navbar .nav-menu .divider {
    color: var(--cinza);
    margin: 0 10px;
    font-size: 18px;
}

.nav-logo span,
.admin-nome,
.logout {
    /*Sera criado*/
    transition: color 0.3s ease;
}



/* .navbar .nav-item.dropdown {
    position: relative;
}

.navbar .nav-item.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--branco);
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    padding: 0;
    z-index: 10;
    border-radius: 0;
}

.navbar .nav-item.dropdown .dropdown-menu li {
    border-bottom: 1px solid var(--cinza);
}

.navbar .nav-item.dropdown .dropdown-menu li a {
    padding: 10px 20px;
    display: block;
    color: var(--roxo-escuro);
    font-weight: 500;
    transition: 0.3s;
}

.navbar .nav-item.dropdown .dropdown-menu li a:hover {
    background-color: var(--roxo-escuro);
    color: var(--laranja);
}

/*Mostrar menu ao passar o mouse*
.navbar .nav-item.dropdown:hover .dropdown-menu {
    display: flex;
} */

.navbar .nav-menu .admin-nome {
    color: var(--roxo-escuro);
    font-size: 18px;
}

.header.scrolled .navbar .nav-menu .admin-nome {
    color: var(--branco);
    font-size: 18px;
}

.navbar .nav-menu .admin-nome .online {
    color: #00C853;
    font-size: 24px;
}

.header.scrolled .navbar .nav-menu .admin-nome .online {
    color: #00C853;
    font-size: 24px;
}

.navbar .nav-menu .nav-link {
    color: var(--roxo-escuro);
    font-size: 18px;
}

.navbar .nav-menu .primary {
    color: var(--laranja);
}

.navbar .nav-menu .nav-link:hover {
    color: var(--laranja);
}

.navbar :where(#menuCloseBtn, #menuOpenBtn) {
    display: none;
}

/* ===== MOBILE ===== */
@media screen and (max-width:900px) {

    body.showMobileMenu .header:before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgb(0, 0, 0, 0.2);
    }

    .navbar :where(#menuCloseBtn, #menuOpenBtn) {
        display: block;
        background: transparent;
        font-size: 24px;
    }

    .navbar #menuCloseBtn {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    #header.scrolled .navbar #menuCloseBtn {
        color: var(--branco);
    }

    .navbar #menuOpenBtn {
        color: var(--roxo-escuro);
    }

    #header.scrolled .navbar #menuOpenBtn {
        color: var(--branco);
    }

    .navbar .nav-menu {
        display: block;
        background: var(--branco);
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 100px;
        flex-direction: column;
        padding-left: 0;
        transition: left 0.4s ease;
    }

    #header.scrolled .navbar .nav-menu {
        background: var(--roxo-escuro);
    }

    body.showMobileMenu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-item {
        background: var(--branco);
        width: 100%;
        padding: 10px;
        display: block;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    #header.scrolled .navbar .nav-menu .nav-item {
        background: var(--roxo-escuro);
    }

    .navbar .nav-menu .nav-item:hover {
        background: var(--roxo-escuro);
    }

    /*Responsivo: dropdown no menu mobile*/
    .navbar .nav-item.dropdown {
        background: var(--branco);
    }

    .navbar .nav-item.dropdown:hover {
        background: var(--branco);
    }

    .navbar .nav-item.dropdown .nav-link a {
        display: block;
        position: absolute;
    }

    .navbar .nav-item.dropdown .dropdown-menu {
        border: none;
        position: static;
        display: none;
        box-shadow: none;
    }

    .navbar .nav-item.dropdown.active .dropdown-menu {
        display: flex;
        flex-direction: column;
    }

    .navbar .nav-menu .nav-link {
        color: var(--roxo-escuro);
        font-size: 22px;
        display: block;
    }

    .navbar .nav-menu .nav-link:hover {
        color: var(--laranja);
    }

    .divider {
        display: none;
    }
}


.main-content {
    width: 90%;
    max-width: 1200px;
    margin: 120px auto 30px;
    display: flex;
    gap: 30px;
}

/* Coluna de botões */
.actions-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 180px;
}

.actions-bar button {
    background: var(--roxo-escuro);
    color: var(--branco);
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.actions-bar button:hover {
    background: var(--roxoclaro);
    transform: scale(1.03);
}

.actions-bar button.active {
    background: var(--laranja);
    color: var(--preto);
}

/* Container de cards */
.card-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section {
    background-color: var(--branco);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(48, 10, 51, 0.1);
    display: none;
}

.section.active {
    display: block;
}

.section-title {
    font-size: 1.4rem;
    color: var(--roxo-escuro);
    margin-bottom: 20px;
    border-bottom: 2px solid var(--roxoclaro);
    padding-bottom: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fieldset {
    height: 70vh;
    /*Tamanho da Tela*/
    border: 1px solid var(--cinza);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
}

.legend {
    grid-column: 1 / -1;
    font-weight: 600;
    color: var(--roxoclaro);
    padding: 0 10px;
    font-size: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-weight: 500;
    color: var(--roxo-escuro);
}

.form-group input,
.form-group select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--cinza);
    font-size: 1rem;
    transition: 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    border-color: var(--roxoclaro);
    outline: none;
    box-shadow: 0 0 6px rgba(137, 10, 163, 0.3);
}

.form-actions {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
}

.btn-primary {
    background-color: var(--roxo-escuro);
    color: var(--branco);
    width: 25%;
}

.btn-primary:hover {
    background-color: var(--roxoclaro);
}

.btn-secondary {
    background-color: var(--roxo-escuro);
    color: var(--branco);
}

.btn-secondary:hover {
    background-color: var(--roxoclaro);

}

.btn-danger {
    background-color: var(--btnDelete);
    color: var(--branco);
}

.btn-danger:hover {
    background-color: var(--btnDeleteHover);
}

/* TABELAS */
.table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(48, 10, 51, 0.15);
    margin-top: 15px;
    height: 70vh;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table thead {
    background-color: var(--roxo-escuro);
    color: var(--branco);
}

.table th,
.table td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--cinza);
}

.table tbody tr:hover {
    background-color: rgba(137, 10, 163, 0.1);
}

/* CARD SECTION */
.card-section {
    display: none;
    animation: fadeIn 0.4s ease;
}

.card-section.active {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.select-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.select-content select {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid var(--cinza);
    font-size: 1rem;
    background-color: var(--branco);
    color: var(--cinzaEscuro);
    transition: 0.3s;
}

.select-content select:focus {
    outline: none;
    border-color: var(--roxoclaro);
    box-shadow: 0 0 0 2px rgba(128, 0, 128, 0.2);
}


/* Tablets e telas médias */
@media screen and (max-width: 1024px) {
    .main-content {
        flex-direction: column;
        gap: 20px;
    }

    .actions-bar {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-width: unset;
        gap: 10px;
    }

    .actions-bar button {
        flex: 1 1 calc(33.333% - 10px);
        text-align: center;
        padding: 8px 12px;
    }

    .card-container {
        width: 100%;
    }

    .fieldset {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .btn-primary {
        width: 50%;
    }

    .select-content {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .select-content select {
        width: 250px;
        font-size: 12px;
    }
}

/* Smartphones grandes */
@media screen and (max-width: 768px) {
    .actions-bar button {
        flex: 1 1 calc(50% - 10px);
        padding: 8px 10px;
        font-size: 0.9rem;
    }

    .btn-primary {
        width: 60%;
    }

    .section {
        padding: 15px;
    }

    .fieldset {
        padding: 15px;
        gap: 15px;
    }

    .select-content {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .select-content select {
        width: 250px;
        font-size: 12px;
    }
}

/* Smartphones pequenos */
@media screen and (max-width: 480px) {

    .section {
        background: transparent;
        border: none;
    }

    .actions-bar {
        flex-direction: column;
        gap: 8px;
    }

    .actions-bar button {
        flex: 1 1 100%;
        font-size: 0.85rem;
        padding: 7px 10px;
    }

    .main-content {
        margin: 15px auto;
        width: 95%;

    }

    .fieldset {
        background: transparent;
        border: none;
        padding: 10px;
        gap: 10px;
        height: 75vh;
    }

    .btn-primary {
        width: 80%;
    }

    .card-section {
        padding: 10px;
    }

    .select-content {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .select-content select {
        width: 230px;
        font-size: 15px;
        padding: 10px;
    }
}

.footer {
    background: var(--roxo-escuro);
    color: var(--roxo-escuro);
    padding: 50px 20px 10px;
    font-family: 'Fredoka', sans-serif;
    border-top: 1px solid var(--cinza);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

.footer-logo {
    flex: 1 1 250px;
}

.footer-logo .txt-logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--branco);
}

.footer-logo .txt-gradient {
    background: var(--verdeClaro);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-logo p {
    margin-top: 10px;
    font-size: 14px;
    color: var(--cinza);
    line-height: 1.5;
}

.footer-links {
    flex: 1 1 200px;
}

.footer-links h3 {
    color: var(--branco);
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 8px 0;
}

.footer-links a {
    color: var(--cinza);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--laranja);
}

.footer-social {
    flex: 1 1 200px;
}

.footer-social h3 {
    color: var(--branco);
    font-size: 18px;
    margin-bottom: 15px;
}

.social-icons a {
    color: var(--branco);
    margin-right: 15px;
    font-size: 22px;
    transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
    color: var(--laranja);
    transform: scale(1.2);
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 15px;
    margin-top: 40px;
    font-size: 14px;
    color: var(--cinza);
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        max-width: 768px;
        margin: 0 auto;
        gap: 0;
    }

    .footer-logo {
        flex: 1 1 125px;
    }

    .footer-links h3 {
        margin-bottom: 5px;
    }

    .footer-links {
        flex: 1 1 230px;
    }

    .footer-social {
        flex: 1 1 100px;
    }

    .footer-links,
    .footer-social {
        margin-top: 0;
    }

    .social-icons a {
        margin: 0 10px;
    }
}

/* Toast container */
#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Toast base */

/*Deletar*/
.custom-toast-popup {
    position: relative;
    /* necessário para a barra de progresso */
    display: inline-block;
    padding: 14px 22px;
    border-radius: 8px;
    max-width: 400px;
    min-width: 200px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    color: var(--branco);
    text-align: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transform: translateY(20px);
    animation: slideInFade 0.5s forwards;
}

/* Barra de progresso */
.custom-toast-popup .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    border-radius: 0 0 10px 10px;
}

/* Barra animando */
@keyframes progressBar {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

/* Tipos de toast */
/*Cadastro*/
.custom-toast-popup.success {
    background-color: #4caf50;
}

.custom-toast-popup.error {
    background-color: #f44336;
}

/* Animação de entrada */
@keyframes slideInFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}